.header {
	position: relative;
	box-shadow: 0px 5px 10px rgba(4, 0, 98, 0.05);
	padding: 25px 0;
	z-index: 10;
	&__container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		color: $main-color;
	}
	&__buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 36px;
	}
}

.burger-menu {
	display: none;
}

.site-logo {
	fill: $main-color;
}

.lang {
	&:not(:last-child) {
		display: flex;
		align-items: center;
	}
	&--selected {
		margin-right: 5px;
	}
	&__list {
		display: none;
	}
	&__button svg {
		fill: $main-color;
	}
}

.nav {
	&__list {
		display: flex;
		gap: 20px;
	}
	&__link {
		font-weight: 400;
		font-size: 15px;
		line-height: 22px;
	}
	&__button {
		height: 42px;
	}
}
