.hero {
	position: relative;
	height: 647px;
	background-color: $bg-color-blue;
	margin-bottom: 120px;
	&__title {
		padding-top: 80px;
		text-align: center;
		font-weight: 900;
		font-size: 60px;
		line-height: 80px;
		&--bigger {
			font-size: 80px;
			line-height: 106px;
		}
		&--biggest {
			font-size: 110px;
			line-height: 146px;
		}
	}
	&__img {
		position: absolute;
		&--bg {
			&-left {
				top: 282px;
				left: 60px;
			}
			&-right {
				top: 293px;
				right: 50px;
			}
		}
		&--person {
			&-left {
				top: 420px;
				left: 32px;
				z-index: 2;
			}
			&-right {
				top: 433px;
				right: 32px;
				z-index: 2;
			}
		}
		&--line {
			&-left {
				top: 523px;
				left: 395px;
			}
			&-right {
				top: 523px;
				right: 395px;
			}
		}
		&--logo {
			fill: $main-color;
			width: 46px;
			height: 60px;
			top: 495px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
