.burger-menu {
	display: none;
	border: none;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 36px;
	background-color: #000;
	cursor: pointer;
	margin-left: auto;
	position: relative;
	span {
		display: block;
		background-color: #fff;
		width: 17px;
		height: 2px;
	}
	&::before,
	&::after {
		content: '';
		display: block;
		background-color: #fff;
		width: 17px;
		height: 2px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	&::before {
		top: 10px;
	}
	&::after {
		bottom: 10px;
	}
}
.burger-menu.open-menu span {
	display: none;
}
.burger-menu.open-menu::after {
	transform: rotate(45deg);
	top: 17px;
	left: 10px;
	width: 23px;
}
.burger-menu.open-menu::before {
	transform: rotate(-45deg);
	top: 17px;
	left: 10px;
	width: 23px;
}
