* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
a {
	text-decoration: none;
	color: inherit;
}
ul {
	list-style: none;
}
img {
	display: block;
	max-width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	background-color: rgba(0, 0, 0, 0.2);
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
