$color-hover: #57a4a4;
$color-main-title: #4e4e4e;
$color-main-text: #7c7c7c;
$color-main-subtext: #5c5c5c;
$color-footer-bg: #000;
$color-footer-title: #fefefe;
$color-footer-text: #b9b9b9;
$color-nav-hover: #e5e5e5;
$color-burger-bg: #f5f5f5;
