@import 'variables';
@import 'resets';
@import 'mixins';
@import 'burger-menu';

.container {
	max-width: 1170px;
	margin: 0 auto;
}
.header {
	&-nav {
		position: relative;
	}
	padding: 40px 0;
}
.nav {
	&-list {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 68px;
	}
	&-link {
		color: $color-main-title;
		font-size: 11px;
		line-height: 22px;
		text-transform: uppercase;
		letter-spacing: 1.1px;
		&:hover {
			color: $color-hover;
		}
	}
}

.hero-img {
	width: 100%;
}
.section-title {
	font-size: 16px;
	line-height: 22px;
	color: $color-main-title;
	margin-bottom: 24px;
	text-transform: uppercase;
}
.posts {
	margin: 68px 0;
	&-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 55px;
		grid-row-gap: 32px;
	}
	&-item {
		display: flex;
		gap: 20px;
	}
	&-title {
		font-weight: 700;
		font-size: 16px;
		line-height: 30px;
		color: $color-main-title;
	}
	&-text {
		font-size: 12px;
		line-height: 20px;
		color: $color-main-text;
		margin-bottom: 13px;
	}
	&-subtext {
		font-size: 14px;
		line-height: 26px;
		color: $color-main-subtext;
	}
}

.shots {
	background-color: rgba(0, 0, 0, 0.03);
	padding: 46px 0;
	&-text {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&-link {
		font-size: 13px;
		font-weight: 700;
		line-height: 22px;
		color: $color-main-title;
		text-transform: uppercase;
		margin-bottom: 24px;
	}
	&-list {
		display: flex;
		gap: 10px;
	}
}
.footer {
	background-color: $color-footer-bg;
	padding: 68px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	&-title {
		color: $color-footer-title;
	}
	&-text {
		font-size: 16px;
		line-height: 28px;
		color: $color-footer-text;
		width: 684px;
	}
}
.contacts {
	a {
		&:not(:last-child)::after {
			content: '\00a0 /';
		}
	}
}
.socials {
	&-list {
		display: flex;
		gap: 6px;
		margin: 36px 0;
	}
}

@media screen and (max-width: 965px) {
	body {
		min-width: 768px;
	}
	.container {
		padding: 0 15px;
	}
	.posts {
		&-list {
			max-width: 560px;
			grid-template-columns: 1fr;
		}
	}
	.shots {
		&-list {
			justify-content: center;
		}
		&-item {
			&:last-child {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	body {
		min-width: 320px;
	}
	.burger-menu {
		display: flex;
	}

	.section-title {
		font-size: 14px;
	}
	.nav {
		&-list {
			display: none;
		}
		&-link {
			padding: 6px 14px;
			display: inline-block;
			width: 182px;
			&:hover {
				background-color: $color-nav-hover;
			}
		}
	}
	.menu-open {
		display: block;
		position: absolute;
		right: 15.5px;
		top: 36px;
		background-color: $color-burger-bg;
		padding: 0;
	}
	.posts {
		&-list {
			max-width: 260px;
			grid-template-columns: 1fr;
		}
		&-item {
			display: block;
		}
		&-title {
			font-size: 14px;
		}
		&-text {
			font-size: 11px;
			margin-bottom: 0;
		}
		&-subtext {
			display: none;
		}
	}
	.shots {
		&-title {
			span {
				display: none;
			}
			&::after {
				content: '- Last instagram shot';
			}
		}
		&-link {
			display: none;
		}
		&-list {
			justify-content: center;
		}
		&-item {
			&:not(:first-child) {
				display: none;
			}
		}
	}
	.footer {
		&-text {
			width: 303px;
			font-size: 12px;
			line-height: 20px;
			span {
				display: none;
			}
		}
	}
	.contacts {
		font-size: 14px;
		a:not(:last-of-type)::after {
			content: '\00a0 / \a';
			white-space: pre;
		}
	}
}
