@media (max-width: 559px) {
  .container {
    min-width: 320px;
  }
  .page-header {
    background: rgba(94, 93, 88, 0.8);
    height: auto;
  }
  .page-nav {
    position: relative;
    height: 90px;
    padding: 0 20px;
  }
  .site-logo__icon {
    width: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .site-logo {
    font-size: 28px;
  }
  .page-nav__list {
    transform: translateX(-100%);
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    padding: 25px 0;
    background: #1c2a33;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease-in-out;
  }
  .page-nav__link {
    color: #fff;
  }
  .page-nav__link svg {
    fill: #fff;
  }
  .page-nav__link::after {
    display: none;
  }

  .header-menu__button {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
    background-color: transparent;
    color: transparent;
    width: 32px;
    height: 32px;
  }
  .header-menu__hamburger-line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 4px;
    content: "";
    border-radius: 4px;
    background-color: #fff;
  }

  .button-style {
    font-size: 12px;
    padding: 10px;
  }
  .load-more {
    font-size: 12px;
    padding: 15px 17px;
  }

  .section__title {
    margin-bottom: 60px;
    font-size: 30px;
  }

  .hero {
    height: 540px;
    text-align: center;
    padding: 0 20px;
  }
  .hero__text-main {
    font-size: 16px;
  }
  .hero__text-slogan {
    font-size: 34px;
    line-height: 40px;
    margin: 7px 0;
  }
  .hero__text-additional {
    font-size: 18px;
  }
  .hero__buttons-wrapper {
    margin-top: 60px;
  }

  .options__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    font-size: 16px;
  }
  .options__item {
    height: 240px;
  }

  .services {
    margin: 40px auto;
    padding: 0 25px;
  }
  .services-menu__button {
    display: block;
    position: relative;
    width: 100%;
    height: 44px;
    background-color: #4e4e4e;
    border: none;
    font-size: 18px;
    color: #f8fcfe;
  }
  .services-menu__list {
    display: block;
    height: 264px;
  }
  .services-menu__list[data-menu="closed"],
  [data-menu="closed"] .services-menu__item {
    display: none;
  }
  .services-menu__option {
    height: 44px;
  }
  [data-menu="closed"] ~ .services-content__list {
    margin-top: 22px;
  }
  [data-active="true"] .services-menu__option::after,
  [data-active="true"] .services-menu__option:focus {
    display: none;
  }
  .services-content__list {
    height: 660px;
  }
  .services-content__item {
    flex-direction: column;
    align-items: center;
  }

  .purchase {
    padding: 40px 0;
    text-align: center;
  }
  .purchase__title {
    font-size: 28px;
    line-height: 32px;
    padding: 0 25px;
    margin-bottom: 40px;
  }
  .purchase__text {
    font-size: 16px;
    line-height: 20px;
    padding: 0 15px;
  }

  .work {
    padding: 40px 0;
  }
  .work__list {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 40px;
  }
  .work__item {
    display: flex;
  }
  .work__link {
    text-align: center;
    width: 260px;
    padding: 15px 12px;
  }
  .album__list {
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
  .album__item {
    width: 260px;
  }

  .news {
    margin: 50px auto;
    padding: 0 20px;
  }
  .news__list {
    display: flex;
    overflow-y: scroll;
  }
  .news__item {
    width: 265px;
  }

  .feedback {
    padding: 50px 0;
  }
  .feedback__list {
    height: 613px;
  }
  .feedback__content {
    padding: 0 20px;
  }
  .clients__wrapper {
    width: 70px;
  }
  .clients__list {
    transform: translateX(-388px);
  }

  .gallery {
    margin: 50px auto;
  }

  .grid-item {
    width: calc(100% - 20px);
  }

  .page-footer {
    height: 50px;
    font-size: 12px;
  }
}

@media (min-width: 560px) and (max-width: 859px) {
  .container {
    max-width: 800px;
  }
  .page-header {
    background: rgba(94, 93, 88, 0.8);
    height: auto;
  }
  .page-nav {
    position: relative;
    height: 90px;
    padding: 0 20px;
  }
  .site-logo__icon {
    width: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .site-logo {
    font-size: 28px;
  }
  .page-nav__list {
    transform: translateX(-100%);
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    padding: 25px 0;
    background: #1c2a33;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease-in-out;
  }
  .page-nav__link {
    color: #fff;
  }
  .page-nav__link svg {
    fill: #fff;
  }
  .page-nav__link::after {
    display: none;
  }

  .header-menu__button {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
    background-color: transparent;
    color: transparent;
    width: 32px;
    height: 32px;
  }
  .header-menu__hamburger-line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 4px;
    content: "";
    border-radius: 4px;
    background-color: #fff;
  }

  .button-style {
    font-size: 12px;
    padding: 10px;
  }
  .load-more {
    font-size: 12px;
    padding: 15px 17px;
  }

  .section__title {
    margin-bottom: 60px;
    font-size: 30px;
  }

  .hero {
    height: 540px;
  }
  .hero__text-main {
    font-size: 24px;
  }
  .hero__text-slogan {
    font-size: 50px;
    margin: 7px 0;
  }
  .hero__text-additional {
    font-size: 22px;
  }
  .hero__buttons-wrapper {
    margin-top: 60px;
  }

  .options__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "frst scnd"
      "frth thrd";
    font-size: 16px;
  }
  .options__item {
    height: 240px;
  }
  .options__item:nth-child(1) {
    grid-area: frst;
  }
  .options__item:nth-child(2) {
    grid-area: scnd;
    gap: 72px;
  }
  .options__item:nth-child(3) {
    grid-area: thrd;
  }
  .options__item:nth-child(4) {
    grid-area: frth;
    gap: 72px;
  }

  .services {
    margin: 40px auto;
    padding: 0 25px;
  }
  .services-menu__button {
    display: block;
    position: relative;
    width: 100%;
    height: 44px;
    background-color: #4e4e4e;
    border: none;
    font-size: 18px;
    color: #f8fcfe;
  }
  .services-menu__list {
    display: block;
    height: 264px;
  }
  .services-menu__list[data-menu="closed"],
  [data-menu="closed"] .services-menu__item {
    display: none;
  }
  .services-menu__option {
    height: 44px;
  }
  [data-menu="closed"] ~ .services-content__list {
    margin-top: 22px;
  }
  [data-active="true"] .services-menu__option::after,
  [data-active="true"] .services-menu__option:focus {
    display: none;
  }
  .services-content__list {
    height: 384px;
  }

  .purchase {
    padding: 40px 0;
    text-align: center;
  }
  .purchase__title {
    font-size: 28px;
    line-height: 32px;
    padding: 0 25px;
    margin-bottom: 40px;
  }
  .purchase__text {
    font-size: 16px;
    line-height: 20px;
    padding: 0 15px;
  }

  .work {
    padding: 40px 10px;
  }
  .work__list {
    display: flex;
    margin-bottom: 40px;
  }
  .work__item {
    display: flex;
  }
  .work__link {
    padding: 15px 12px;
  }
  .album__list {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
  .album__item {
    width: 260px;
  }

  .news {
    margin: 50px auto;
    padding: 0 10px;
  }
  .news__list {
    display: flex;
    overflow-y: scroll;
  }
  .news__item {
    width: 265px;
  }

  .feedback {
    padding: 50px;
  }
  .feedback__list {
    height: 373px;
  }

  .gallery {
    margin: 50px auto;
  }

  .grid-item {
    width: calc(50% - 20px);
  }

  .page-footer {
    height: 50px;
  }
}

@media (min-width: 860px) and (max-width: 1159px) {
  .container {
    max-width: 860px;
  }
  .page-nav {
    height: 80px;
  }
  .site-logo__icon {
    width: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .site-logo {
    font-size: 28px;
  }
  .page-nav__link {
    font-size: 14px;
  }

  .button-style {
    font-size: 12px;
    padding: 10px;
  }
  .load-more {
    font-size: 12px;
    padding: 15px 17px;
  }

  .section__title {
    margin-bottom: 60px;
    font-size: 30px;
  }

  .hero {
    height: 560px;
  }
  .hero__text-main {
    margin-top: 40px;
    font-size: 30px;
  }
  .hero__text-slogan {
    font-size: 60px;
    margin: 15px 0;
  }
  .hero__text-additional {
    font-size: 28px;
  }
  .hero__buttons-wrapper {
    margin-top: 60px;
  }

  .options__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "frst scnd"
      "frth thrd";
    font-size: 16px;
  }
  .options__item {
    height: 240px;
  }
  .options__item:nth-child(1) {
    grid-area: frst;
  }
  .options__item:nth-child(2) {
    grid-area: scnd;
    gap: 72px;
  }
  .options__item:nth-child(3) {
    grid-area: thrd;
  }
  .options__item:nth-child(4) {
    grid-area: frth;
    gap: 72px;
  }

  .services {
    margin: 40px auto;
  }
  .services-menu__option {
    font-size: 14px;
    height: 60px;
  }
  .services-content__list {
    height: 216px;
  }

  .purchase {
    padding: 80px 0;
  }
  .purchase__title {
    text-align: center;
    font-size: 26px;
  }

  .work {
    padding: 40px 0;
  }
  .album__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .news {
    margin: 50px auto;
  }
  .news__list {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 28px;
    column-gap: 33px;
  }

  .feedback {
    padding: 50px;
  }
  .feedback__list {
    height: 373px;
  }

  .gallery {
    margin: 50px auto;
  }

  .grid-item {
    width: calc(33% - 20px);
  }

  .page-footer {
    height: 50px;
  }
}

@media (min-width: 1160px) {
  .container {
    max-width: 1160px;
  }
}
