.button-style {
  font-size: 15px;
  line-height: 32px;
  padding: 16px 18px;
  background-color: #18cfab;
  transition: background-color 0.5s cubic-bezier(0.23, 1, 0.32, 1);

  border-radius: 3px;
  position: relative;
}

.button-style::after {
  left: 0;
  top: -4px;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  z-index: -1;
}

.button-style:hover,
.button-style:focus,
.load-more:hover,
.load-more:focus {
  background-color: #00cbf6;
}

/* LOAD MORE */

.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 168px;
  white-space: nowrap;
  gap: 15px;
  font-weight: 700;
  font-size: 14px;
  background: #18cfab;
  color: #fff;
  padding: 22px;
  border-radius: 3px;
  transition: background-color 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.load-more > svg {
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: #fff;
}

.load-more[disabled] {
  position: relative;
  background-color: #00cbf6;
  color: transparent;
  content: "";
}

.load-more[disabled] svg {
  fill: transparent;
}
