/* FEEDBACK */

:root {
  --child-count: 0;
  --clients-photo-size: 70px;
  --clients-photo-gap: 27px;
  --clients-photo-translateY: 10px;
  --clients-wrapper-width: calc(
    (var(--clients-photo-size) * 3) + (var(--clients-photo-gap) * 2)
  );
}

.feedback {
  padding-top: 98px;
  padding-bottom: 85px;
  background-image: url(../images/section-3.jpg);
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 682px;
}

.feedback > .section__title {
  color: #fff;
}

.feedback__quotes {
  width: 47px;
  height: 33px;
  fill: #18cfab;
  margin-bottom: 32px;
}

.feedback__list {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 100%;
  height: 343px;

  margin-bottom: 40px;
}

.feedback__item {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.feedback__item[data-active="true"] {
  opacity: 1;
}

.feedback__content,
.profile__position {
  font-weight: 300;
  line-height: 30px;
  color: #bbbbbb;
  margin-bottom: 38px;
}

.feedback__content {
  font-size: 16px;
}

.feedback__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__name {
  color: #18cfab;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 8px;
}

.profile__position {
  font-size: 13px;
}

.profile__image {
  width: 142px;
  height: 142px;
  border: 10px solid rgba(31, 218, 181, 0.2);
  border-radius: 50%;
}

/* CAROUSEL */

.carousel {
  display: flex;
  position: relative;
  align-items: center;
}

.carousel__button {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #bbbbbb;
  padding: 8px 10px;

  transition-property: background-color, fill, border;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.carousel__button svg {
  width: 10px;
  height: 15px;
  fill: #bbbbbb;
}

.carousel__button:hover,
.carousel__button:focus {
  background-color: #18cfab;
  border: 1px solid #18cfab;
}

.carousel__button:hover svg,
.carousel__button:focus svg {
  fill: #fff;
}

.arrow-left {
  left: -65px;
}

.arrow-right {
  right: -65px;
}

/* CLIENTS */

.clients__wrapper {
  display: flex;
  justify-content: center;
  width: var(--clients-wrapper-width);
  overflow: hidden;
  position: relative;
}

.clients__list {
  display: flex;
  gap: var(--clients-photo-gap);
  padding-top: var(--clients-photo-translateY);
  padding-bottom: var(--clients-photo-translateY);
  /* transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1); */
}

.clients__item {
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
}

.clients__item[data-active="true"] {
  position: relative;
  cursor: default;
  transform: translateY(calc(-1 * (var(--clients-photo-translateY))));
}

.clients__item[data-active="true"] .clients__photo {
  border: 4px solid rgba(31, 218, 181, 0.4);
  filter: brightness(1);
}

.clients__photo {
  min-width: var(--clients-photo-size);
  height: var(--clients-photo-size);
  border: 4px solid rgba(31, 218, 181, 0.2);
  filter: brightness(0.5);
  border-radius: 50%;

  transition-property: border, filter;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.clients__item:not([data-active="true"]):hover .clients__photo {
  border: 4px solid rgba(31, 218, 181, 0.4);
  filter: brightness(1);
}
