.page-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  background-color: #22353f;
  color: #aeaeae;
}
