.page-header {
  background: rgba(94, 93, 88, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.page-nav {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-nav__list {
  display: flex;
  gap: 21px;
}

.page-nav__item {
  position: relative;
}

.page-nav__link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.page-nav__link:hover,
.page-nav__link:focus {
  color: #18cfab;
}

.page-nav__link svg {
  width: 21px;
  height: 20px;
  fill: rgba(255, 255, 255, 0.6);
}
.page-nav__link:hover svg,
.page-nav__link:focus svg {
  fill: #18cfab;
}

.page-nav__link::after,
.page-nav__link::after {
  position: absolute;
  content: "";
  display: block;
  background-color: #18cfab;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: -51px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.page-nav__link:hover::after,
.page-nav__link:focus::after {
  opacity: 1;
}

.site-logo {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 400;
}

.site-logo > .color {
  font-weight: 700;
}

.site-logo__icon {
  background-image: url(../images/icons/polygon.png);
  text-align: center;
  width: 58px;
  height: 67px;
  margin-right: 5px;
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.site-logo:hover .site-logo__icon {
  transform: rotate(180deg);
}

.hidden-text {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

.header-menu__button {
  display: none;
}
