.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/section-1\(header\).jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1012px;
}

.hero__text-main {
  line-height: 35px;
  font-size: 35px;
  font-weight: 700;
}

.hero__text-slogan {
  margin: 22px 0;
  line-height: 78px;
  font-size: 78px;
  font-weight: 700;
}

.hero__text-additional {
  color: #d4d4d4;
  line-height: 34px;
  font-size: 34px;
  font-weight: 400;
}

.hero__buttons-wrapper {
  margin-top: 122px;
  display: flex;
  gap: 26px;
}
