*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.2);
}

svg {
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.container {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  /* for the button::after to work */
  position: relative;
  z-index: 1;
}

.link {
  color: inherit;
  text-decoration: none;
}

.upper-case {
  text-transform: uppercase;
}

.list {
  list-style: none;
}

.color-accent {
  display: inline-block;
  color: #18cfab;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
