.news {
  margin-top: 80px;
  margin-bottom: 130px;
}

.news__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 46px;
  column-gap: 33px;
}

.news__item {
  position: relative;
  background-color: #f8fcfe;
  border: 1px solid #f2f4f5;
  cursor: pointer;
}

.blog__image {
  filter: brightness(0.7);
  transition: filter 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.blog__data {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  gap: 8px;
  overflow-wrap: anywhere;
  font-weight: 400;
  font-size: 16px;
  width: 70px;
  height: 68px;
  background-color: #203e38;

  transition-property: color, background-color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.blog__data-day {
  align-self: end;
}

.blog__data-month {
  align-self: start;
}

.blog__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin-left: 15px;
  margin-top: 12px;
  color: #717171;
  transition: color 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.blog__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
  width: 210px;
  font-weight: 300;
  font-size: 14px;
  color: #777777;
}

.blog__info-user,
.blog__info-comments {
  position: relative;
  padding: 13px;
  white-space: nowrap;
}

.blog__info-user::after {
  position: absolute;
  top: 50%;
  right: -1px;
  transform: translateY(-50%);
  display: inline-block;
  content: "";
  width: 1px;
  height: 14px;
  background-color: #777777;
}

.news__item:hover .blog__data {
  background-color: #18cfab;
}
.news__item:hover .blog__title {
  color: #18cfab;
}

.news__item:hover .blog__image {
  filter: brightness(1);
}
