.options {
  border-top: 10px solid #fff;
}

.options__list {
  display: flex;
  font-size: 20px;
  font-weight: 700;
}

.options__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 360px;
  background-color: #18cfab;
}

.options__item:nth-child(odd) {
  color: #18cfab;
  background-color: #1c2a33;
}

.options__item:nth-child(odd) svg {
  fill: #18cfab;
}

.options__item svg {
  fill: #fff;
}

.press-icon {
  width: 58px;
  height: 97px;
}

.diamond-icon {
  width: 93px;
  height: 75px;
}

.bio-lamp-icon {
  width: 60px;
  height: 96px;
}

.devices-icon {
  width: 99px;
  height: 76px;
}
