.purchase {
  background: url(../images/section-2.jpg);
  /* background-color: rgba(28, 42, 51, 1); */
  background-color: rgba(0, 0, 0, 0.78);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 126px;
  padding-bottom: 126px;
}

.purchase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.purchase__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #18cfab;
  margin-bottom: 13px;
}

.purchase__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
  margin-bottom: 67px;
}
