.section__title {
  position: relative;
  text-align: center;
  margin-bottom: 100px;
  font-weight: 400;
  font-size: 36px;
  color: #4e4e4e;
}

.section__title::after,
.section__title::before {
  position: absolute;

  transform: translateX(-50%);
  content: "";
  display: block;
  width: 76px;
  height: 1px;
  background-color: #18cfab;
}

.section__title::after {
  bottom: -28px;
  left: calc(50% - 6px);
}

.section__title::before {
  bottom: -32px;
  left: calc(50% + 6px);
}
