.services {
  margin-top: 90px;
  margin-bottom: 90px;
}

.services-menu__button {
  display: none;
}

/* MENU */

.services-menu__list {
  display: flex;
  position: relative;
  margin-bottom: 22px;
}

.services-menu__item {
  flex: 1;
}

.services-menu__option {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  background-color: #f8fcfe;
  border: 1px solid #f2f2f2;
  font-weight: 400;
  font-size: 16px;
  color: #717171;
  cursor: pointer;
  transition-property: background-color, border, color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.services-menu__option:hover,
.services-menu__option:focus {
  border: 1.5px solid #18cfab;
  /* outline-color: #18cfab; */
  z-index: 1;
}

[data-active="true"] .services-menu__option {
  border: none;
  background: #18cfab;
  color: #fff;
}

.services-menu__option::after {
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 15px solid #18cfab;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.services-menu__option:focus-within::after {
  display: none;
}

[data-active="true"] .services-menu__option::after {
  opacity: 1;
}

[data-active="true"] .services-menu__option:focus-within::after {
  display: block;
}

[data-active="true"] .services-menu__option:focus {
  /* outline-color: black; */
  z-index: 2;
}

/* CONTENT */

.services-content__list {
  position: relative;
  height: 144px;
}

.services-content__item {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  justify-content: space-between;
  gap: 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.services-content__image {
  width: 193px;
  height: 140px;
  border: 1px solid #f2f2f2;
}

.services-content__item[data-active="true"] {
  opacity: 1;
}
