.work {
  padding-top: 96px;
  padding-bottom: 100px;
  background-color: #e9edef;
}

.work__list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  margin-bottom: 70px;
}

.work__link {
  font-weight: 400;
  font-size: 14px;
  color: #717171;
  padding: 20px;
  border: 2px solid #dadada;
  outline-offset: -2px;
  transition-property: color, border;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.work__link:hover,
.work__link:focus {
  color: #18cfab;
  border: 2px solid #18cfab;
}

.work__link:focus {
  color: #18cfab;
}

/* ALBUM */

.work__album {
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
}

.album__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

.album__item {
  position: relative;
}

.album__image {
  object-position: 50% 0;
}

.album__item-card {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr, 1fr, 2fr;
  grid-template-areas:
    "chain square"
    "chain square"
    "title title"
    "text text"
    "text text";
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #e9edef;
  border-top: 2px solid #18cfab;
  column-gap: 3px;
  cursor: default;
  opacity: 0;

  transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.album__item:hover .album__item-card,
.album__item:focus-within .album__item-card {
  opacity: 1;
}

.album-card__title {
  grid-area: title;
  align-self: end;
  justify-self: center;
  color: #18cfab;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
}

.album-card__text {
  grid-area: text;
  align-self: start;
  justify-self: center;
  color: #8a8a8a;
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
}

.album-card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #18cfab;
  border-radius: 50%;
  transition-property: border, background-color, fill;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.button-chain {
  grid-area: chain;
  align-self: end;
  justify-self: end;
}

.button-square {
  background-color: #18cfab;
  grid-area: square;
  align-self: end;
  justify-self: start;
}

.button-chain svg {
  width: 17px;
  height: 17px;
  fill: #18cfab;
}

.button-square svg {
  width: 12px;
  height: 11px;
  /* fill: #fff; */
  fill: #e9edef;
}

/* SELF ADDED */

.album-card__button:hover,
.album-card__button:focus {
  border: 1px solid #00cbf6;
}

.button-chain:hover,
.button-chain:focus {
  background-color: #00cbf6;
}

.button-chain:hover svg,
.button-chain:focus svg {
  fill: #fff;
}

.button-square:hover,
.button-square:focus {
  background-color: #fff;
}

.button-square:hover svg,
.button-square:focus svg {
  fill: #00cbf6;
}
