* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
button,
*::placeholder,
input,
textarea {
	color: #000;
	font-size: 20px;
	font-family: sans-serif;
}

button {
	background-color: #ccc;
	border: 2px solid #000;
	border-radius: 10px;
	cursor: pointer;
}

ul {
	list-style: none;
}

img {
	display: block;
	object-fit: contain;
	width: 100%;
}
body {
	background-color: #ccc;
}

.posts {
	margin: 20px;
}

.posts__button {
	background-color: #000;
	color: #ccc;
	padding: 20px;
	position: fixed;
	top: 40px;
	left: 20px;
}

.card {
	display: grid;
	grid-template-columns: 30px 1fr;
	column-gap: 20px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
.posts__item:first-child {
	border-top: 1px solid #000;
}

.posts__item:last-child {
	border-bottom: 1px solid #000;
}

.posts__item:last-child .card {
	border-bottom: none;
}

.content__fullname {
	font-weight: 700;
}

.content__fullname,
.content__email {
	margin-right: 10px;
}

.content__time::before {
	content: '';
	display: inline-block;
	width: 5px;
	height: 5px;
	margin-right: 7px;
	background-color: #000;
	border-radius: 50%;
	position: relative;
	bottom: 4px;
}

.content__title {
	margin: 10px 0;
}

.content__text {
	margin-bottom: 20px;
}

.card__image {
	width: 30px;
	height: 30px;
}

.card__image {
	margin-left: auto;
}

.card__buttons {
	grid-column: span 2;
	display: flex;
	justify-content: center;
	gap: 300px;
}

.buttons__edit,
.buttons__delete {
	border: none;
	font-size: 25px;
}

/* The Modal */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.7);
}

.modal__content {
	position: relative;
	background-color: #ccc;
	margin: auto;
	padding: 20px;
	border: 1px solid #000;
	width: 60%;
	border-radius: 10px;
}

.modal__input--hidden {
	display: none;
}

.modal__close {
	width: 50px;
	color: #aaaaaa;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 50px;
	line-height: 1;
	font-weight: bold;
	border: none;
	background-color: transparent;
}

.modal__img {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 30px;
	top: 30px;
}

.modal__form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal__input {
	background-color: #ccc;
	padding: 10px;
	width: 60%;
	border: none;
	overflow: auto;
	resize: none;
	margin-bottom: 20px;
}
.modal__input--title {
	height: 50px;
}
.modal__input--text {
	height: 150px;
}

.modal__submit {
	padding: 10px 20px;
	font-size: 1em;
	margin: 0 auto;
}

.modal__close:hover,
.modal__close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.opened {
	display: block;
}

.error {
	outline: 5px solid red;
}

.loader {
	margin: 50px auto 0;
	border: 7px solid lightgrey;
	border-radius: 50%;
	border-top: 7px solid grey;
	width: 70px;
	height: 70px;
	animation: spinner 2s linear infinite;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
