@media screen and (max-width: 665px) {
	.container {
		min-width: 380px;
		max-width: 425px;
		padding: 0 15px;
	}
	.burger-menu {
		display: block;
		width: 20px;
		height: 20px;
		span {
			content: '';
			display: block;
			position: relative;
			width: 20px;
			height: 2px;
			background-color: $main-color;
			transition: all 0.3s ease-in-out;
			&::after,
			&::before {
				content: '';
				display: block;
				position: absolute;
				width: 20px;
				height: 2px;
				background-color: $main-color;
				transition: transform 0.5s ease-in-out;
			}
			&::after {
				bottom: -7px;
			}
			&::before {
				top: -7px;
			}
		}
	}
	.header {
		&__nav {
			position: absolute;
			display: block;
			top: -210px;
			left: 0;
			right: 0;
			text-align: center;
			z-index: -1;
			transition: all 0.3s ease-in-out;
		}
		&__container::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: #fff;
			z-index: -1;
		}
		&__buttons {
			.lang {
				display: none;
			}
		}
	}
	.menu--opened {
		top: 92px;
	}
	.btn--close {
		span {
			transform: rotate(45deg);

			&::after {
				transform: rotate(90deg);

				top: 0;
			}
			&::before {
				transform: rotate(-90deg);
				top: 0;
			}
		}
	}
	.section {
		height: 1000px;
		&--to-left,
		&--to-right {
			.phone-img {
				left: 50%;
				transform: translateX(-50%);
			}
			&::after {
				width: 100%;
				height: 90%;
			}
		}
		&__title {
			font-size: 36px;
			line-height: 40px;
			margin-bottom: 20px;
		}
		&__text {
			font-size: 16px;
			line-height: 20px;
		}
	}
	.nav {
		&__list {
			flex-direction: column;
			gap: 0;
			background-color: $white-color;
		}
		&__item {
			padding: 10px 0;
		}
		&__link {
			font-size: 16px;
			color: $main-color;
		}
		&__button {
			font-size: 14px;
		}
	}
	.hero {
		height: 700px;
		margin-bottom: 40px;
		&__title {
			padding-top: 20px;
			font-size: 30px;
			line-height: 40px;
			&--bigger {
				font-size: 30px;
				line-height: 60px;
			}
			&--biggest {
				font-size: 80px;
				line-height: 90px;
			}
		}
		&__img {
			&--person {
				&-right {
					width: 245px;
					top: 513px; //573
					left: 50%;
					transform: translateX(-50%);
				}
				&-left {
					width: 240px;
					top: 303px; //563
					left: 50%;
					transform: translateX(-50%);
				}
			}
			&--bg {
				&-right {
					display: none;
				}
				&-left {
					display: none;
				}
			}
			&--line {
				&-right {
					display: none;
				}
				&-left {
					display: none;
				}
			}
			&--logo {
				top: 230px;
				width: 36.8px;
				height: 48px;
			}
		}
	}
	.objectives {
		&__img {
			&--phone {
				top: 26%;
			}
			&--person {
				width: 183px;
				transform: translateX(-50%);
				left: 50%;
			}
			&--bg {
				display: none;
			}
		}
	}
	.relationship {
		&__img {
			&--phone {
				top: 26%;
			}
			&--people {
				width: 261px;
				transform: translateX(-50%);
				left: 50%;
			}
			&--bg {
				display: none;
			}
		}
	}
	.connection {
		&__img {
			&--phone {
				top: 26%;
			}
			&--person {
				width: 161px;
				transform: translateX(-50%);
				left: 50%;
			}
			&--bg {
				display: none;
			}
		}
	}
	.data {
		&__img {
			&--phone {
				top: 20%;
			}
			&--person {
				width: 188px;
				transform: translateX(-50%);
				left: 50%;
			}
			&--bg {
				display: none;
			}
		}
	}
	.health {
		height: 1120px;
		&__text {
			margin-bottom: 20px;
		}
		&__img {
			&--phone {
				top: 31%;
			}
			&--people {
				width: 164px;
				transform: translateX(-50%);
				left: 50%;
			}
			&--bg {
				display: none;
			}
		}
	}
	.apply {
		margin: 40px 0 40px;
		height: 305px;
		&__img--text {
			right: 13px;
		}
	}
	.footer {
		padding-top: 20px;
		padding-bottom: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.site-logo {
			text-align: center;
			grid-row-start: 1;
			grid-row-end: 1;
			grid-column-start: 1;
			grid-column-end: span 3;
		}
		&__section {
			display: flex;
			justify-content: center;
			text-align: left;
			gap: 10px;
			text-align: center;
			border-top: 1px solid $border-color;
		}
		&__contact-info {
			grid-template-columns: repeat(3, 1fr);
			column-gap: 10px;
			row-gap: 10px;
			margin-bottom: 20px;
		}
		&__title {
			display: none;
		}
		&__copyright-info {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 10px;
			text-align: center;
			p,
			a {
				white-space: nowrap;
			}
			& > span {
				display: none;
			}
		}
	}
	.socials {
		&__list {
			align-items: center;
			justify-content: center;
		}
	}
}
