*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// outline: 1px solid red;
}

body {
	font-family: 'Euclid Circular B', sans-serif;
}
h1,
h2 {
	font-family: 'Cabernet JF Pro', sans-serif;
	color: $main-color;
}
.footer,
.footer h3 {
	font-family: 'Roboto', sans-serif;
}
img {
	display: block;
	-o-object-fit: cover;
	object-fit: cover;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}
